.nav__footer {
    margin: 51px 0;
    justify-content: center;
    align-items: center;
}

.nav__footer--item + .nav__footer--item {
    margin-left: 30px;
}

.nav__footer--item a {
    box-sizing: initial;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-self: center;
    &:hover, &:focus {
        outline: none;
        .network__img {
            fill: $mythic-yellow;
        }
    }
}

.network__img {
    width: 100%;
    transition: all .5s ease;
    fill: $purple;
}

@include sm {

    .nav__footer {
        position: fixed;
        width: 100%;
        bottom: 2%;
        justify-content: flex-start;
    }
    
    .nav__footer--item + .nav__footer--item {
        margin-left: 40px;
    }
}

@media screen and (min-width: 1024px) {
    @media screen and (min-height: 600px) {
        .nav__footer {
            position: initial;
            margin-top: 5%;
        }
    }

    @media screen and (min-height: 1366px) {
        .nav__footer {
            position: fixed;
            margin: 0;
        }

        .nav__footer--item a {
            width: 40px;
        }
    }

}

@include lg {
    .nav__footer {
        position: absolute;
        flex-flow: column wrap;
        left: 10px;
        width: auto;
        z-index: 5;
        transform: translate(50%, -50%);
        top: 50%;
        margin: 0;
        bottom: initial;
    }

    .nav__footer--item {
        width: auto;
    }

    .nav__footer--item + .nav__footer--item {
        margin-left: 0;
        margin-top: 30px;
    }

    .nav__footer--item a {
        // width: 35px;
        // height: 40px;
        display: block;
        text-align: center;
    }
}