.illus .container {
    overflow-x: hidden;
}

.content__illus {
    padding-bottom: 0;
    padding-top: 25%;
}

.container__items {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

@include sm {
    .content__illus {
        padding-top: 0;
    }
}